
<br>
<br>

<style>
    body{
        width: 100%;
        height: 100%;
        background-image: url(https://www.panorama.it/media-library/blog.jpg?id=20545796&width=300);
        background-size: 8%;
    }
</style>


<h1 class="center" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; margin: 0 auto; width:200px; height:80px; background: rgb(0, 229, 255);  border: 2px solid rgb(0, 0, 0); border-radius: 25px;">Stories</h1>
<br>
<br>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id }}}
            </div>
            <div class="card-content center-align">
                <h3>{{title}}</h3>
                <p>{{stripTags (truncate body 30)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn green">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
        <p><h4>No stories to display</h4></p>
    {{/each}}
</div>